<section class="p-2">
    <h2 class="body-section-header p-2"> Education </h2>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>May 2005</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Bachelor of Engineering</h3>
        <p>Electronics and Communication</p>
        <div class="details">
          <p>MVJ College of Engineering, Bangalore - 560017</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>June 2003</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Pre-University College</h3>
        <p>Maths, Chemistry, Physics, Biology</p>
        <div class="details">
          <p>SMGH Jain College, Indiranagar, Bangalore - 560017</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>June 2001</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>School</h3>
        <p>SSLC or 10th</p>
        <div class="details">
          <p>Little Flower School, Nagari - 517590</p>
        </div>
      </div>
    </div>
</section>
