<section class="p-2">
    <h2 class="body-section-header p-2"> Experience </h2>

    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>Mar 2018</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Cognizant - Comcast cable</h3>
        <p>Sr.Software Architect</p>
        <div class="details">
          <p>Microservices and AWS</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>Aug 2015</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Cognizant - TracFone Wireless</h3>
        <p>Sr.Software Architect</p>
        <div class="details">
          <p>Web Transformation to AngularJS(1.x)</p>
          <p>Web Transformation to Angular(5.x)</p>
          <p>Java/Spring/J2EE Middleware</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>Mar 2015</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Cognizant - Orange UK</h3>
        <p>Software Architect</p>
        <div class="details">
          <p>LogAnalysis - ELK</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>Mar 2012</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Cognizant - T Mobile UK</h3>
        <p>Software Architect</p>
        <div class="details">
          <p>Production Maintainance</p>
          <p>ITIL certified</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>Mar 2007</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Cognizant - France Telecom</h3>
        <p>Team Lead/Developer</p>
        <div class="details">
          <p>Telecom - Provisioning</p>
          <p>Tibco Kabira/KPSA, C++</p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
        <h3>June 2005</h3>
      </div>
      <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
        <h3>Torry Harris - Orange UK</h3>
        <p>Developer</p>
        <div class="details">
          <p>Telecom - Provisioning</p>
          <p>Tibco Kabira/KPSA, C++, PHP</p>
        </div>
      </div>
    </div>
</section>
