<section class="p-2">
    <h2 class="body-section-header p-2"> Experience </h2>
    <p>
        Software professional with 12+ years of experience in IT industry. Excellent technical and communication skills. Wishing for an oppurtunity to leverage my skills and to take the technology to the next level.
    </p>
    <vertical-timeline>

        <vertical-timeline-card [timeString]="2018">
            <h3 class="mt-2">Cognizant</h3>
            <h4>TracFone Wireless</h4>
            <p>Sr.Software Architect</p>
            <ul class="details">
              <li>Web Transformation to AngularJS(1.x)</li>
              <li>Web Transformation to Angular(5.x)</li>
              <li>Java/Spring/J2EE Middleware</li>
            </ul>
        </vertical-timeline-card>

        <vertical-timeline-card [timeString]="2015">
          <h3 class="mt-2">Cognizant</h3>
          <h4>Orange UK</h4>
          <p>Software Architect</p>
          <ul class="details">
            <li>LogAnalysis - ELK</li>
          </ul>
        </vertical-timeline-card>

        <vertical-timeline-card [timeString]="2012">
          <h3 class="mt-2">Cognizant</h3>
          <h4>T Mobile UK</h4>
          <p>Software Architect</p>
          <ul class="details">
            <li>Production Maintainance</li>
            <li>ITIL certified</li>
          </ul>
        </vertical-timeline-card>

        <vertical-timeline-card [timeString]="2007">
          <h3 class="mt-2">Cognizant</h3>
          <h4>France Telecom</h4>
          <p>Team Lead/Developer</p>
          <ul class="details">
            <li>Telecom - Provisioning</li>
            <li>Tibco Kabira/KPSA, C++</li>
          </ul>
        </vertical-timeline-card>

        <vertical-timeline-card [timeString]="2005">
            <h3 class="mt-2">Torry Harris</h3>
            <h4>Orange UK</h4>
            <p>Developer</p>
            <ul class="details">
              <li>Telecom - Provisioning</li>
              <li>Tibco Kabira/KPSA, C++, PHP</li>
            </ul>
        </vertical-timeline-card>

    </vertical-timeline>
</section>
