<section>
    <div>
        <h2 class="pt-1 pb-1 profile-section-header">Skills</h2></div>
    <div>
        <p class="mb-1">Angular 5 <span *ngFor="let number of [0,1,2,3,4]" class="rating fa fa-star"></span></p>
        <div class="mb-3 progress" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 90%; height:5px" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <p class="mb-1">Angular 1</p>
        <div class="mb-3 progress" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; height:5px" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <p class="mb-1">Java</p>
        <div class="mb-3 progress" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; height:5px" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <p class="mb-1">J2EE</p>
        <div class="mb-3 progress" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 70%; height:5px" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <p class="mb-1">Spring</p>
        <div class="mb-3 progress" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 70%; height:5px" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>
    <div>
        <p class="mb-1">AWS</p>
        <div class="mb-3 progress" style="height:5px;">
            <div class="progress-bar" role="progressbar" style="width: 70%; height:5px" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </div>

</section>
