<div class="row">
    <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs profile-section">
        <section class="p-2">
            <section>
                <div>
                    <h1>Vasudevan Palani</h1></div>
                <div>
                    <p>Software Architect</p>
                </div>
            </section>
            <app-personal-info></app-personal-info>
            <app-skills></app-skills>
        </section>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
        <app-objective></app-objective>
        <app-contributions></app-contributions>
        <app-experience></app-experience>
        <app-education></app-education>
    </div>
</div>
